<nb-card>
  <nb-card-header>{{ 'DASHBOARD.ACTIVE_ORDERS' | translate }}</nb-card-header>
  <nb-card-body>
    <div *ngIf="apiLoaded | async">
      <google-map #googleMap width="100%">
        <map-marker *ngFor="let order of orders"
          [position]="{ lat: parseFloat(order.address.latitude), lng: parseFloat(order.address.longitude) }" [label]="C"
          (mapClick)="open(orderInfoDialog, order)">
        </map-marker>
      </google-map>
    </div>
  </nb-card-body>
</nb-card>

<ng-template #orderInfoDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>{{ 'DASHBOARD.ORDER' | translate }} #{{data.id}}</nb-card-header>
    <nb-card-body>
      <div class="row p-2">
        <div class="col-sm-3">
          <nb-icon icon="person-outline"></nb-icon>
        </div>
        <div class="col-sm-8">{{data.user.mobile_number}}</div>
      </div>
      <div class="row p-2">
        <div class="col-sm-3">
          <nb-icon icon="people-outline"></nb-icon>
        </div>
        <div class="col-sm-8">{{data.vendor.name}}</div>
      </div>
      <div class="row p-2">
        <div class="col-sm-3">
          <nb-icon icon="car-outline"></nb-icon>
        </div>
        <div class="col-sm-8">
          <span *ngIf="data.delivery?.delivery">{{data.delivery?.delivery?.user.mobile_number }}</span>
          <span *ngIf="!data.delivery?.delivery">{{ 'COMMON.NOT_AVAILABLE' | translate }}</span>
        </div>
      </div>
      <div class="row p-2">
        <div class="col-sm-3">
          <nb-icon icon="info-outline"></nb-icon>
        </div>
        <div class="col-sm-8">{{data.status}}</div>
      </div>
      <div></div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">{{ 'COMMON.CLOSE' | translate }}</button>
    </nb-card-footer>
  </nb-card>
</ng-template>