<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{'terms_conditions' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="banner">
        <div class="logo ion-text-center  animate__animated animate__zoomIn">
            <img src="assets/images/logo.png" class="light_theme_logo">
            <img src="assets/images/logo_user_dark.png" class="dark_theme_logo">
        </div>
    </div>
    <div class="container">
        <p [innerHTML]="privacy_policy"></p>
    </div>
</ion-content>