ion-content {
    --background: #00000094;
    padding: 20px;
}


.close_icon {
    position: relative;
    width: fit-content;
    background: var(--primary);
    border-radius: 50%;
    min-width: 35px;
    height: 35px;
    top: 28px;

    ion-icon {
        color: var(--white);
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
        top: 5px;
        font-weight: 500;
        position: relative;
    }
}

ion-card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: calc(100% - 20px);
    height: fit-content;
    margin: auto;
    background: var(--bg-color);
    border-radius: 15px;

    .card_header {
        background-color: var(--primary);
        padding: 13px 22px;

        h2 {
            margin: 0;
            color: var(--white);
            font-size: 1.2rem;
            font-weight: 500;
        }

    }


    .button.btn {
        font-size: 0.9rem;
        font-weight: 600;
        height: 46px;
    }

    ion-list {
        background: var(--transparent) !important;
        margin: 0;
        padding: 10px 10px 0 10px;

        ion-row {
            margin: 0 -5px;

            ion-col {
                padding: 0 5px;
            }
        }


        ion-item {
            padding: 0px 0px;
            width: calc(100% - 0px);
            min-height: unset !important;
            box-shadow: none !important;
            margin: 0 auto;
            --background: var(--transparent);
            align-items: flex-start;
            --inner-padding-end: 0px;
            --inner-min-height: unset !important;
            --min-height: unset !important;
            --padding-start: 0;
            box-shadow: none !important;
            --ripple-color: var(--transparent) !important;
            --background-focused: var(--transparent) !important;
            border: 1px solid #b3b3b3 !important;
            margin-bottom: 10px;
            border-radius: 5px;

            ion-input {
                --padding: 0 !important;
                font-size: 0.75rem !important;
                font-weight: 600 !important;
                letter-spacing: 0;
                --padding-start: 0 !important;
                --padding-end: 0 !important;
                --padding-top: 0 !important;
                --padding-bottom: 0px !important;
                color: var(--text-light);
                --placeholder-color: #b0b0b0 !important;
                --placeholder-opacity: 1;
                --placeholder-font-weight: 400 !important;
                flex: unset !important;
                padding: 12px 12px !important;

                input {
                    --padding: var(--no-padding);

                    &.native-input {
                        --padding: var(--no-padding);
                    }
                }
            }
        }
    }
}
