<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{'terms_conditions' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="banner">
        <div class="logo ion-text-center">
            <img src="assets/images/logo-light-theme.png" class="light_theme_logo">
            <img src="assets/images/logo-dark-theme.png" class="dark_theme_logo">
        </div>
    </div>
    <div class="container animate__animated animate__fadeInUp">
        <p [innerHTML]="privacy_policy"></p>
    </div>
</ion-content>