<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-body [nbSpinner]="showProgress" nbSpinnerStatus="danger">
                <form (ngSubmit)="saveDelivery()" #form="ngForm">
                    <div *ngIf="!editId" class="row">

                        <div class="col-md-12">
                            <nb-card>
                                <nb-card-header>{{ 'DELIVERY.FIELDS.USER.HEADER' | translate }}</nb-card-header>
                                <nb-card-body>
                                    <div class="form-group">
                                        <label>{{ 'USER.EMAIL.LABEL' | translate }}</label>
                                        <input type="email" nbInput fullWidth placeholder="Email" name="email"
                                            [(ngModel)]="deliveryRequest.email" #email=ngModel required>
                                        <label [hidden]="email.valid || email.pristine" class="error text-danger">
                                            {{ 'USER.EMAIL.VALIDATION' | translate }}
                                        </label>
                                        <label class="error text-danger"
                                            *ngFor="let error of deliveryError.email">{{error}}</label>
                                    </div>
                                    <div class="form-group">
                                        <label>{{ 'USER.MOBILE_NUMBER.LABEL' | translate }}</label>
                                        <input type="mobile_number" nbInput fullWidth placeholder="Mobile Number"
                                            name="mobile_number" [(ngModel)]="deliveryRequest.mobile_number"
                                            #mobile_number=ngModel required>
                                        <label [hidden]="mobile_number.valid || mobile_number.pristine"
                                            class="error text-danger">
                                            {{ 'USER.MOBILE_NUMBER.VALIDATION' | translate }}
                                        </label>
                                        <label class="error text-danger"
                                            *ngFor="let error of deliveryError.mobile_number">{{error}}</label>
                                    </div>
                                    <div class="form-group">
                                        <label>{{ 'USER.PASSWORD.LABEL' | translate }}</label>
                                        <input type="password" nbInput fullWidth id="password" placeholder="Password"
                                            name="password" [(ngModel)]="deliveryRequest.password" #password=ngModel
                                            [required]="!isEdit">
                                        <label [hidden]="password.valid || password.pristine" class="error text-danger">
                                            {{ 'USER.PASSWORD.VALIDATION' | translate }}
                                        </label>
                                        <label class="error text-danger"
                                            *ngFor="let error of deliveryError.password">{{error}}</label>
                                    </div>
                                </nb-card-body>
                            </nb-card>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{ 'DELIVERY.FIELDS.ASSIGNED.LABEL' | translate }}</label>
                        <nb-checkbox class="form-control" name="assigned" nbInput fullWidth [checked]="deliveryRequest.assigned" disabled>
                            Assigned?</nb-checkbox>
                        <label class="error text-danger" *ngFor="let error of deliveryError.assigned">{{error}}</label>
                    </div>
                    <div class="form-group">
                        <label>{{ 'DELIVERY.FIELDS.IS_ONLINE.LABEL' | translate }}</label>
                        <nb-checkbox class="form-control" name="is_online" nbInput fullWidth [checked]="deliveryRequest.is_online"
                            (change)="onIsOnlineChange($event.target.checked)">Is Online?</nb-checkbox>
                        <label class="error text-danger" *ngFor="let error of deliveryError.is_online">{{error}}</label>
                    </div>
                    <div class="form-group">
                        <label>{{ 'DELIVERY.FIELDS.IS_VERIFIED.LABEL' | translate }}</label>
                        <nb-checkbox class="form-control" name="is_verified" nbInput fullWidth [checked]="deliveryRequest.is_verified"
                            (change)="onIsVerifiedChange($event.target.checked)">Is Verified?</nb-checkbox>
                        <label class="error text-danger"
                            *ngFor="let error of deliveryError.is_verified">{{error}}</label>
                    </div>
                    <div class="form-group">
                        <label>{{ 'DELIVERY.FIELDS.LATITUDE.LABEL' | translate }}</label>
                        <input type="number" nbInput fullWidth placeholder="Latitude" name="latitude"
                            [(ngModel)]="deliveryRequest.latitude" #latitude=ngModel required>
                        <label [hidden]="latitude.valid || latitude.pristine" class="error text-danger">
                            {{ 'DELIVERY.FIELDS.LATITUDE.VALIDATION' | translate }}
                        </label>
                        <label class="error text-danger" *ngFor="let error of deliveryError.latitude">{{error}}</label>
                    </div>
                    <div class="form-group">
                        <label>{{ 'DELIVERY.FIELDS.LONGITUDE.LABEL' | translate }}</label>
                        <input type="number" nbInput fullWidth placeholder="Longitude" name="longitude"
                            [(ngModel)]="deliveryRequest.longitude" #longitude=ngModel required>
                        <label [hidden]="longitude.valid || longitude.pristine" class="error text-danger">
                            {{ 'DELIVERY.FIELDS.LONGITUDE.VALIDATION' | translate }}
                        </label>
                        <label class="error text-danger" *ngFor="let error of deliveryError.longitude">{{error}}</label>
                    </div>
                    <button type="submit" [disabled]="!form.form.valid || showProgressButton" nbButton status="success"
                        size="medium" [nbSpinner]="showProgressButton" nbSpinnerStatus="success" nbSpinnerSize="small">
                        {{ 'COMMON.SAVE' | translate }}
                    </button>
                    &nbsp;
                    <button type="button" nbButton status="danger" size="medium" (click)="back()">
                        {{ 'COMMON.BACK' | translate }}
                    </button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>