ion-header {
    background: var(--white);
    //     &::before {
    //         content: '';
    //         position: absolute;
    //         bottom: 0;
    //         left: 0;
    //         right: 0;
    //         width: 100%;
    //         height: 8px;
    //         background: var(--bg-color);
    //         transition: all .3s;
    //         display: block;
    //         z-index: 1;
    //     }
    ion-toolbar ion-title {
        padding: 0 15px !important;
        text-align: center !important;
        font-weight: 600;
    }
    ion-segment {
        border: none !important;
        background: var(--none) !important;
        border-radius: 0px;
        margin: 0 auto;
        ion-segment-button {
            background: none !important;
            position: relative;
            font-size: 0.9rem;
            font-weight: 500;
            text-transform: uppercase !important;
            letter-spacing: 0.7px;
            --background-checked: var(--transparent) !important;
            --background-focused: var(--transparent) !important;
            --border-width: 0 !important;
            --border-radius: 0 !important;
            --indicator-color: var(--transparent) !important;
            --indicator-box-shadow: none !important;
            --ripple-color: var(--transparent) !important;
            --color: var(--text-light) !important;
            --color-checked: var(--text-light) !important;
            --color-hover: var(--text-light) !important;
            --background-hover: var(--transparent) !important;
            padding: 0;
            width: 100%;
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 0;
                height: 3px;
                background: var(--primary);
                margin: 0 auto;
                transition: all 0.3s;
            }
            ion-label {
                margin: 11px 0;
                width: 100%;
                white-space: normal;
            }
            &.segment-button-checked {
                color: var(--primary) !important;
                opacity: 1;
                &::after {
                    width: 45px;
                }
            }
        }
    }
}

.tab_content {
    ion-list {
        background: var(--transparent) !important;
        margin: 0;
        padding: 0;
        margin-top: 8px;
        ion-item {
            padding: 0 0px;
            min-height: unset !important;
            --inner-padding-end: 0px;
            --inner-min-height: unset !important;
            --padding-start: 0;
            --highligh-color-focused: var(--transparent) !important;
            background: var(--white);
            margin-bottom: 8px;
            min-height: 120px !important;
            .delivery_time {
                height: 100%;
                position: relative;
                min-width: 35px;
                border-radius: 0 8px 8px 0px;
                display: flex;
                align-items: center;
                --animate-duration: 0.1s;
                min-height: 140px;
                .delivery_time_inner {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto 0;
                    max-height: calc(100% - 0px);
                    height: calc(100% - 0px);
                    width: 100%;
                    display: flex;
                    align-items: center;
                    align-self: center;
                    h5,
                    h6 {
                        font-size: 0.75rem;
                        margin: 0;
                        color: var(--white);
                        font-weight: 400;
                        transform: rotate(180deg);
                        writing-mode: vertical-lr;
                        position: absolute;
                        bottom: 0;
                        padding: 0 3px;
                        width: fit-content;
                        margin: auto;
                        right: 0;
                        left: 0;
                        display: block;
                    }
                    h6 {
                        max-height: 50%;
                        line-height: normal;
                        bottom: 10px;
                    }
                    h5 {
                        bottom: unset;
                        top: 10px;
                    }
                }
                &.delivery_in_3min {
                    background: #009846;
                }
                &.delivery_in_5min {
                    background: #fbaf03;
                }
                &.delivery_in_8min {
                    background: #eb1e1e;
                }
            }
            .item_inner {
                width: 100%;
                position: relative;
                overflow: hidden;
                .item_info {
                    padding: 10px 20px;
                    border-bottom: 1px solid var(--bg-color);
                    .itme_img {
                        min-width: 45px;
                        margin-right: 15px;
                        img {
                            width: 45px;
                        }
                    }
                    .item_details {
                        width: 100%;
                        h3 {
                            margin: 0;
                            font-size: 1rem;
                            color: var(--text-black);
                            font-weight: 600;
                            padding-bottom: 8px;
                            span {
                                &.order_status {
                                    font-size: 0.93rem;
                                    font-weight: 500;
                                }
                            }
                        }
                        h4 {
                            margin: 0;
                            color: var(--text-light);
                            font-size: 0.8rem;
                            font-weight: 500;
                        }
                    }
                }
                .items {
                    padding: 10px 20px;
                    h6 {
                        margin: 0;
                        color: var(--text-black);
                        font-size: 0.95rem;
                        font-weight: 400;
                        padding: 3px 0;
                        span {
                            color: var(--text-light);
                        }
                        &:first-child {
                            padding-top: 0;
                        }
                        &:last-child {
                            padding-bottom: 0;
                        }
                    }
                }
            }
            &.pending {
                .item_inner .item_info h3 span {
                    &.order_status {
                        color: #ffa025;
                    }
                }
            }
            &.accepted {
                .item_inner .item_info h3 span {
                    &.order_status {
                        color: var(--secondary);
                    }
                }
            }
            &.delivered {
                .item_inner .item_info h3 span {
                    &.order_status {
                        color: var(--text-black);
                    }
                }
            }
            &.animate__animated {
                --animate-duration: 0s;
                &:nth-child(1) {
                    --animate-duration: 0.15s;
                }
                &:nth-child(2) {
                    --animate-duration: 0.2s;
                }
                &:nth-child(3) {
                    --animate-duration: 0.25s;
                }
                &:nth-child(4) {
                    --animate-duration: 0.3s;
                }
                &:nth-child(5) {
                    --animate-duration: 0.35s;
                }
                &:nth-child(6) {
                    --animate-duration: 0.4s;
                }
                &:nth-child(7) {
                    --animate-duration: 0.45s;
                }
                &:nth-child(8) {
                    --animate-duration: 0.5s;
                }
                &:nth-child(9) {
                    --animate-duration: 0.55s;
                }
                &:nth-child(10) {
                    --animate-duration: 0.6s;
                }
                &:nth-child(11) {
                    --animate-duration: 0.65s;
                }
                &:nth-child(12) {
                    --animate-duration: 0.7s;
                }
                &:nth-child(13) {
                    --animate-duration: 0.5s;
                }
                &:nth-child(14) {
                    --animate-duration: 0.5s;
                }
                &:nth-child(15) {
                    --animate-duration: 0.5s;
                }
            }
        }
        &.past_orders {
            ion-item {
                min-height: unset !important;
                .items {
                    padding-top: 0 !important;
                }
            }
        }
    }
}

ion-slides {
    ion-slide {
        display: block;
        min-height: calc(100vh - 175px);
        max-height: calc(100vh - 175px);
        overflow: hidden;
        overflow-y: auto;
        text-align: initial;
        position: relative;
    }
}

.empty-view {
    width: 200px;
    margin: auto;
    height: 200px;
    top: 10%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    img {
        width: 100px;
        margin: auto;
    }
    span {
        display: block;
        text-align: center;
    }
    button {
        margin-top: 50px;
        span {
            display: unset !important;
        }
    }
}
