<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body [nbSpinner]="showProgress" nbSpinnerStatus="danger">
        <form (ngSubmit)="saveProduct()" #form="ngForm">
          <div class="row">
            <div class="col-md-12">
              <nb-card>
                <nb-card-header>{{ 'PRODUCT.FIELDS.TITLE.HEADER' | translate }}</nb-card-header>
                <nb-card-body>
                  <div [formGroup]="titleGroupForm">
                    <div formArrayName="items">
                      <div class="form-group" *ngFor="let alias of getTitleItems().controls; let i=index">
                        <label>{{ 'PRODUCT.FIELDS.TITLE.LABEL' | translate }} <span class="language-label">{{
                            languages[i] | languageTitle }}</span></label>
                        <input type="text" nbInput fullWidth required formControlName="{{i}}">
                      </div>
                    </div>
                  </div>
                  <label class="error text-danger"
                    *ngFor="let error of productError.title_translations">{{error}}</label>
                </nb-card-body>
              </nb-card>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <nb-card>
                <nb-card-header>{{ 'PRODUCT.FIELDS.DETAIL.HEADER' | translate }}</nb-card-header>
                <nb-card-body>
                  <div [formGroup]="detailGroupForm">
                    <div formArrayName="items">
                      <div class="form-group" *ngFor="let alias of getDetailItems().controls; let i=index">
                        <label>{{ 'PRODUCT.FIELDS.DETAIL.LABEL' | translate }} <span class="language-label">{{
                            languages[i] | languageTitle }}</span></label>
                        <textarea nbInput fullWidth required formControlName="{{i}}"></textarea>
                      </div>
                    </div>
                  </div>
                  <label class="error text-danger"
                    *ngFor="let error of productError.detail_translations">{{error}}</label>
                </nb-card-body>
              </nb-card>
            </div>
          </div>
          <div class="form-group">
            <label>{{ 'PRODUCT.FIELDS.CATEGORY.LABEL' | translate }}</label>
            <nb-select fullWidth name="categories" multiple [(ngModel)]="productRequest.categories" #roles=ngModel
              style="text-transform: capitalize">
              <nb-option *ngFor="let category of categories" [value]="category.id">{{ category.title }}
              </nb-option>
            </nb-select>
            <label class="error text-danger" *ngFor="let error of productError.categories">{{error}}</label>
          </div>
          <div class="form-group">
            <label>{{ 'PRODUCT.FIELDS.VENDOR.LABEL' | translate }}</label>
            <input *ngIf="product?.vendor_products?.length > 0 && product?.vendor_products[0]?.vendor?.name; else selectVendor"
              readonly nbInput fullWidth [value]="product?.vendor_products[0]?.vendor?.name" />
            <ng-template #selectVendor>
              <nb-select fullWidth name="vendor_id" [(ngModel)]="productRequest.vendor_id"
                #vendor_id=ngModel style="text-transform: capitalize">
                <nb-option *ngFor="let vendor of vendors" [value]="vendor.id">{{ vendor.name }}
                </nb-option>
              </nb-select>
              <label class="error text-danger" *ngFor="let error of productError.categories">{{error}}</label>
            </ng-template>
          </div>
          <div class="form-group">
            <label>{{ 'PRODUCT.FIELDS.PRICE.LABEL' | translate }}</label>
            <input type="number" nbInput fullWidth placeholder="Price" name="price" [(ngModel)]="productRequest.price"
              #price=ngModel required>
            <label [hidden]="price.valid || price.pristine" class="error text-danger">
              {{ 'PRODUCT.FIELDS.PRICE.VALIDATION' | translate }}
            </label>
            <label class="error text-danger" *ngFor="let error of productError.price">{{error}}</label>
          </div>
          <div class="form-group">
            <label>{{ 'PRODUCT.FIELDS.STOCK_QUANTITY.LABEL' | translate }}</label>
            <input type="number" nbInput fullWidth placeholder="Stock Quantity" name="stock_quantity"
              [(ngModel)]="productRequest.stock_quantity" #stock_quantity=ngModel required>
            <label [hidden]="stock_quantity.valid || stock_quantity.pristine" class="error text-danger">
              {{ 'PRODUCT.FIELDS.STOCK_QUANTITY.VALIDATION' | translate }}
            </label>
            <label class="error text-danger" *ngFor="let error of productError.stock_quantity">{{error}}</label>
          </div>
          <div class="form-group">
            <label>{{ 'PRODUCT.FIELDS.IMAGE.LABEL' | translate }}</label>
            <input type="file" nbInput fullWidth (change)="onImageChanged($event, 0)">
            <a *ngIf="product?.mediaurls?.images?.length > 0" [href]="product?.mediaurls?.images[0]?.default"
              target="_blank">{{ product?.mediaurls?.images[0]?.default }}</a>
            <label class="error text-danger" *ngFor="let error of productError.images">{{error}}</label>
          </div>

          <div class="row">
            <div class="col-md-12">
              <nb-card [formGroup]="groupForm">
                <nb-card-header>{{ 'PRODUCT.FIELDS.ADDON_GROUP.HEADER' | translate }}</nb-card-header>
                <nb-card-body>
                  <div formArrayName="items" *ngFor="let item of getFormGroupItems().controls; let i = index;">
                    <nb-card>
                      <nb-card-header>
                        {{ 'PRODUCT.FIELDS.ADDON_GROUP.LABEL' | translate }} {{i + 1}}
                        <button type="button" class="float-lg-right" nbButton status="danger" size="small"
                          (click)="deleteGroup(i)">
                          {{ 'PRODUCT.FIELDS.ADDON_GROUP.DELETE.LABEL' | translate }}
                        </button>
                      </nb-card-header>
                      <nb-card-body>
                        <div [formGroupName]="i">
                          <div class="row">
                            <div class="col-md-12" formGroupName="title">
                              <div formArrayName="items">
                                <div class="form-group"
                                  *ngFor="let alias of item.get('title')?.get('items')?.controls; let x=index">
                                  <label for="title">{{ 'PRODUCT.FIELDS.TITLE.LABEL' | translate }}* <span
                                      class="language-label">{{ languages[x] | languageTitle }}</span></label>
                                  <input type="text" nbInput fullWidth required formControlName="{{x}}">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>{{ 'PRODUCT.FIELDS.ADDON_GROUP.MIN_CHOICE.LABEL' | translate }}</label>
                                <input type="text" nbInput fullWidth formControlName="min_choice">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>{{ 'PRODUCT.FIELDS.ADDON_GROUP.MAX_CHOICE.LABEL' | translate }}</label>
                                <input type="text" nbInput fullWidth formControlName="max_choice">
                              </div>
                            </div>
                          </div>
                          <div formArrayName="choiceItems">
                            <nb-card>
                              <nb-card-header>{{ 'PRODUCT.FIELDS.ADDON_GROUP.CHOICE.LABEL' | translate }}
                              </nb-card-header>
                              <nb-card-body>
                                <div *ngFor="let choice of item.get('choiceItems').controls; let j = index;">
                                  <div [formGroupName]="j">
                                    <div class="row">
                                      <div class="col-md-12" formGroupName="title">
                                        <div formArrayName="items">
                                          <div class="form-group"
                                            *ngFor="let alias of choice.get('title')?.get('items')?.controls; let y=index">
                                            <label for="title">{{ 'PRODUCT.FIELDS.TITLE.LABEL' | translate }}* <span
                                                class="language-label">{{ languages[y] | languageTitle }}</span></label>
                                            <input type="text" nbInput fullWidth required formControlName="{{y}}">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-12">
                                        <div class="form-group">
                                          <label>{{ 'PRODUCT.FIELDS.PRICE.LABEL' | translate }}</label>
                                          <input type="text" nbInput fullWidth formControlName="price">
                                        </div>
                                      </div>
                                      <div class="col-md-2">
                                        <div class="form-group">
                                          <label>{{ 'COMMON.DELETE' | translate}}?</label>
                                          <button nbInput fullWidth type="button" nbButton status="danger" size="small"
                                            (click)="deleteChoice(i,j)">
                                            <nb-icon icon="trash-2-outline"></nb-icon>
                                          </button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </nb-card-body>
                            </nb-card>
                            <button type="button" class="float-lg-right" nbButton status="info" size="medium"
                              (click)="addNewChoice(i)">
                              {{ 'PRODUCT.FIELDS.ADDON_GROUP.ADD_CHOICE.LABEL' | translate }}
                            </button>
                          </div>

                        </div>
                      </nb-card-body>
                    </nb-card>
                  </div>
                </nb-card-body>
              </nb-card>
              <button type="button" class="float-lg-right" nbButton status="info" size="medium" (click)="addNewGroup()">
                {{ 'PRODUCT.FIELDS.ADDON_GROUP.ADD_GROUP.LABEL' | translate }}
              </button>
            </div>
          </div>

          <ngx-metaeditor [(meta)]="productRequest.meta"></ngx-metaeditor>

          <button type="submit" [disabled]="!form.form.valid || showProgressButton" nbButton status="success"
            size="medium" [nbSpinner]="showProgressButton" nbSpinnerStatus="success" nbSpinnerSize="small">
            {{ 'COMMON.SAVE' | translate }}
          </button>
          &nbsp;
          <button type="button" nbButton status="danger" size="medium" (click)="back()">
            {{ 'COMMON.BACK' | translate }}
          </button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>